.user{
  display: flex;
  width: 200px;
  flex-direction: column;
  background:#48dbfb;
  padding:10px;
  align-items: center;
  justify-content: center;
  margin:10px;
  border-radius: 10%;
}

.user .user-avatar img{
  width:120px;
  border-radius: 50%;
  border: 2px solid blue;
}