.removed{
  display:flex;
  flex-direction: row;
  width: 100%;
  color:#333;
  justify-content: space-between;
  align-items: center;
}
.removed img{
  width:50px;
  border-radius:50%;
}

small{
  margin: 0 10px;
}